---
import { Image } from 'astro:assets'
import gh from '../../assets/gh.svg'
import tg from '../../assets/tg.svg'
import email from '../../assets/email.svg'
---

    <div class="h-0.5 bg-secondary"></div>

    <div class="flex justify-between text-sm items-center">

        <p>Orchestrating the <b>web</b> to the <b>fullest</b></p>

        <div class="flex gap-3 sm:gap-10 *:**:max-w-6 *:**:py-0.5">

            <a href="https://github.com/carafelix" class="hover:opacity-80 text-secondary" target=”_blank”>
                <Image src={gh} alt='github' >
            </a>

            <a href="https://t.me/burocrata" class="hover:opacity-80 text-secondary" target=”_blank”>
                <Image src={tg} alt='telegram'>
            </a>

            <a href="mailto:heroprotagonist32@gmail.com" class="hover:opacity-80 text-secondary" target=”_blank”>
                <Image src={email} alt='email'>
            </a>

        </div>
    </div>
    
    <div class="h-0.5 bg-secondary mb-10"></div>