---
import Section from "../Section.astro";
import Picture from "astro/components/Picture.astro";
import astro from '../../assets/astro.svg'
---

<Section id="footer">
    <div class="text-end">
        Developed with <a href="https://astro.build/" target="_blank" class="font-semibold">Astro</a>
        <br>
        Designed by me ofc... code and images available in 
        <a href="https://github.com/carafelix/carafelix.github.io" target="_blank" class="font-bold">Github</a>
        <p>btw, my name is Martín</p>
    </div>
</Section>