---
import Section from '../ui/Section.astro'
---

<Section id='footer'>
    <div class='text-end'>
        Developed with <a
            href='https://astro.build/'
            target='_blank'
            class='font-semibold hover:opacity-80'
            >Astro</a
        >
        <br />
        Brutalist design by me ofc... code and images available
        in
        <a
            href='https://github.com/carafelix/carafelix.github.io'
            target='_blank'
            class='font-bold hover:opacity-80'
            >Github</a
        >
        <p>btw, my name is Martín</p>
        <cite
            ><span class='not-italic'>referenced: </span>The
            Matrix ('99), Snowcrash ('92), Primer encuentro
            con Lezama ('71), The Last Party ('93)</cite
        >
    </div>
</Section>
