---
import Redacted from '../RedactedText.astro'
import BlurredText from '../BlurredText.astro'
import Section from '../Section.astro'
---

<Section>
    <p>que onda papacito <Redacted>como vas laksdkmladmklas</Redacted></p>
    <p><BlurredText>q pasa papito</BlurredText></p> 
</Section>