<span class="text-container">
    <span class="blurred-text">
        <slot/>
    </span>

    <span class="clear-text">
        <slot/>
    </span>
</span>

<style>
.text-container {
  position: relative;
  display: inline-block;
}

.blurred-text {
  filter: blur(5px);
  user-select: none;
} 


.clear-text {
  position: absolute;
  top: 3px;
  left: 0x;
  font-family: "Redacted Script", serif;
  text-wrap: nowrap;
}

.clear-text:focus, .clear-text:hover{
  font-family: 'Courier New', Courier, monospace;
  font-size: 85%;
}

</style>