---
import Section from './Section.astro'
import HeroText from './sections/HeroText.astro'
---

<Section id="hero">
    <HeroText />
    <div class="flex justify-between text-sm">
        <p>Orchestrating the <b>web</b> to the <b>fullest</b></p>
        <p class="flex gap-5">
            <a href="https://github.com/carafelix" class="hover:text-secondary/80 text-secondary">Github</a>
            <a href="https://t.me/burocrata" class="hover:text-secondary/80 text-secondary">Telegram</a>
            <a href="mailto:heroprotagonist32@gmail.com" class="hover:text-secondary/80 text-secondary">Email</a>
        </p>
    </div>
    <div class="h-0.5 bg-secondary"></div>
    
</Section>