---
import Section from './Section.astro'
import HeroText from './sections/HeroText.astro'
import Contact from './sections/Contact.astro'
import Squares from './sections/Squares.astro'
import Redacted from './RedactedText.astro'
---

<Section id="hero" fullH={true} flexC={true}>
    <div class="flex flex-col grow">
        <HeroText />
        <Contact />
        <Squares>
            <Redacted>Not</Redacted> your typical web developer
        </Squares>
        
        <div class="flex justify-center py-4">
            <h2 class="text-6xl text-center">Welcome to the Desert of the Real</h2>
        </div>

    </div>
</Section>