---
import Redacted from './RedactedText.astro'
import BlurredText from './BlurredText.astro'
import Section from './Section.astro'
import HeroText from './sections/HeroText.astro'
---

<Section id="hero">
    <HeroText />
    <div class="h-0.5 bg-secondary"></div>
</Section>