<span class="redacted pr-0.5">
  <span>
    <slot />
  </span>
</span>

<style>

.redacted span {
  display: inline-block;
  position: relative;
}

.redacted span::after {
  position: absolute;
  padding: 0 2rem;
  background: #f4f5ef url(../assets/mine/redacted.svg) center repeat-x ;
  border-radius: 0.1em;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  transform: skewY(-10deg) rotate(10deg);  
}

.redacted span:hover::after, .redacted span:focus::after{
  background: none;
}

</style>