<span class="redacted">
  <span>
    <slot />
  </span>
</span>

<style>

.redacted span {
  position: relative;
  white-space: pre;
}

.redacted span::after {
  background: #f4f5ef url(../assets/mine/redacted.svg) center repeat-x ;
  border-radius: 0.1em;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  transform: skewY(-10deg) rotate(10deg);  
}

.redacted span:hover::after, .redacted span:focus::after{
  background: none;
}

</style>