<span class="redacted">
  <span>
    <slot />
  </span>
</span>

<style>

.redacted span {
  position: relative;
  white-space: pre;
}

.redacted span:after {
  background: white url(../assets/redacted.svg) center repeat-x ;
  border-radius: 0.1em;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.35);
  content: " ";
  width: 100%;
  height: 1.5em;
  left: 0;
  position: absolute;
  transform: skewY(-10deg) rotate(10deg);
}

</style>