---
const { id, fullH, flexC , grow } = Astro.props
---

<section
    id={id}
    class='px-8 pb-10 mx-auto'
    class:list={[
        { 'min-h-[100vh]': fullH },
        { 'flex flex-col': flexC },
        'items-center',
        'justify-items-center',
        { 'flex grow': grow },
    ]}
>
    <slot />
</section>
